.display {
    border: 6px solid black;
    height: 100px;
    font-size: 50px;
    text-align: right;
    background-color: rgb(222, 225, 142);
}

.calculator {
    border: 6px solid black;
    width: 378px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px rgb(77, 76, 76);
    background-color: rgb(221, 228, 32);
}

/* Styling for the buttons */
    /* Row 1 of buttons */
    .one {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);

    }

    .two {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .three {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .addition {
        width: 70px;
        height: 70px;
        margin: 10px;
        background-color: green;
    }

    /* Row 2 of buttons */
    .four {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .five {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .six {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .subtraction {
        width: 70px;
        height: 70px;
        margin: 10px;
        background-color: green;
    }

    /* Row 3 of buttons */
    .seven {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .eight {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .nine {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .multiplication {
        width: 70px;
        height: 70px;
        margin: 10px;
        background-color: green;
    }

    /* Row 4 of buttons */
    .equals {
        width: 70px;
        height: 70px;
        margin: 10px;
        background-color: green;
    }

    .zero {
        width: 70px;
        height: 70px;
        margin: 10px;
        font-weight: bolder;
        background-color: rgb(71, 228, 32);
    }

    .division {
        width: 70px;
        height: 70px;
        margin: 10px;
        background-color: green;
    }

    .decimal {
        width: 70px;
        height: 70px;
        margin: 10px;
        background-color: green;
    }

.clear {
    width: 360px;
    height: 20px;
}

.clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


